#container { width: 1367px; 
margin: 0px auto 0px auto; 
}

.frame-area {
  display: block;
  width: 100%;  /* RESPONSIVE WIDTH */
  max-width: 1200px;
  height: 1200px;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 0px solid;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("spiral.gif");
  background-repeat: repeat;
}
